name: Focus
on: [push]


jobs:
  test:
    name: Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Install Golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Checkout code into Go module directory
        uses: actions/checkout@v4

      - name: Run tests
        run: go test -race -v .
        
